
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<h3><a class="btn btn-secondary" href="/subject"><i class="fa fa-plus"></i> Create New</a> Subject</h3>
<table class="table table-striped">
    <thead>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <tr>
        <th>Subject code</th>
        <th>Subject Name</th>

        <th> </th>

    </tr>
    </thead>

    <tbody>
    {{#each list}}
            <tr>
                <td>{{this.subjectCode}}</td>
                <td>{{this.subjectName}}</td>

                <!--To edit and delete -->
                <td>
                    <a href="/subject/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>&nbsp
                </td>
                <td>
                    <a href="/subject/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
               </td>

            </tr>

        {{/each}}

    </tbody>
</table>

